.Accesso,.Registrazione{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}

.FormAccesso,.FormRegistrazione{
    display: flex;
    flex-direction:column;
    align-items:center;
    min-width: 200px;
    min-height: 200px;
    padding:20px;
    box-shadow: 0 0 10px black;
    gap:10px;
    border-radius:10px;
}

a{
    text-decoration:underline;
}

a:hover{
    cursor:pointer;
}

.hidden{
    display:none;
}


.prenotazioni, .utenti{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:10px;
    min-width: fit-content;
    max-width: 80vw;
}

.table {
    border: 1px solid black;
}

    .table th {
        width:150px;
        max-width:150px;
        height: 50px;
        margin:auto;
        border: 1px solid black;
        font-weight:unset;
        word-break:break-word;
    }

.FormAccesso button, .FormRegistrazione button{
    background-color:black;
    color:white;
    padding:5px;
    border-radius:3px;
    margin-top:20px;
    margin-bottom:10px;
    border:none;
    width:80%;
}

.FormAccesso label, .FormRegistrazione label{
    font-size:14px;
    margin-top:10px;
    margin-bottom:0;
}

.FormAccesso input, .FormRegistrazione input{
    background-color:gainsboro;
    border:1px solid #808080;
    border-radius:3px;
    margin:0;
}

.table-columns{
    font-weight:bold;
}


.success:after{
    content: "Successo!";
}
.error:after{
    content:"Errore!";
}