*{
    margin:0px;
    padding:0px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}
::-webkit-scrollbar
{
    width: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.backgroundImage {
    position: fixed;
    left:-10px;
    top:-10px;
    z-index: -1;
    width: 110vw;
    height: 110vh;
    background-image: url("../img/background.webp");
    background-size:contain;
    filter: blur(3px);
}

header{
    position:fixed;
    z-index:10;
    width:100%;
    margin: 0px;
    background-color: #a5001c;
    color:white;
    box-shadow:#000000 0 0 8px;
}
   
.Nascosto{
    display:none;
}

.NavBar{
    display:flex;
    align-items:center;
    margin:0;
}

.NavBar .TitoloHeader{
    margin:auto;
    
}
    .NavBar .TitoloHeader:hover{
        cursor:pointer;
    }    

.Buttons{
    position:absolute;
    width:fit-content;
    display:flex;
    align-items:center;
    gap:15px;
    left:1rem;
}

.Buttons i{
    font-size:20px;
} 
    .Buttons i:hover{
      cursor:pointer;
    }

.Buttons .AggiungiLibro{
    font-size: 30px;
    font-weight:bold;
}

.PageBody {
    font-family: Arial;
}