.container{
    padding-top:100px;
}
.prenotazione,.modifica, .aggiungi{
    background-color:white;
    display: flex;
    flex-direction:column;
    padding: 50px;
    margin: auto;
    width: fit-content;
    min-width:60vw;
    border-radius:10px;
}

.modifica > form{
    display:flex;
}

.aggiungi > form{
    display:flex;
}

.table{
    border:1px solid black;
}

.table th{
    border:1px solid black;
}

.table-values th{
    font-weight:normal;
}

